body {
  margin: 0;
  background-image: url(https://media.giphy.com/media/ftQanJdivLt6w/giphy.gif);
  background-size: cover;
  font-family: BlinkMacSystemFont;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
